In [5]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
import scipy.cluster.hierarchy as shc
# from sklearn.cluster import AgglomerativeClustering
import os
# import seaborn as sns
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist, pdist
from sklearn.datasets import make_classification
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.cm as cm
from sklearn.mixture import GaussianMixture
from sklearn.cluster import DBSCAN
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [6]:
fileName = "C:/Users/Aren Kabarajian/Downloads/usa_00012.csv"
file = pd.read_csv(fileName)
dfCDI = pd.DataFrame(file)

C:\Users\Aren Kabarajian\anaconda3\envs\geopandas_env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
dfCDI.shape

(6787855, 40)

In [8]:
dfCDI.columns

Index(['YEAR', 'MULTYEAR', 'SAMPLE', 'SERIAL', 'CBSERIAL', 'HHWT', 'CLUSTER',
       'CPI99', 'STATEFIP', 'COUNTYFIP', 'DENSITY', 'CITY', 'PUMA', 'STRATA',
       'GQ', 'OWNERSHP', 'OWNERSHPD', 'OWNCOST', 'RENTGRS', 'HHINCOME',
       'CIHISPEED', 'PERNUM', 'PERWT', 'FAMSIZE', 'SEX', 'AGE', 'RACE',
       'RACED', 'HISPAN', 'HISPAND', 'EDUC', 'EDUCD', 'OCCSOC', 'INDNAICS',
       'INCTOT', 'FTOTINC', 'INCWAGE', 'MIGCOUNTY1', 'MOVEDIN', 'TRANTIME'],
      dtype='object')

In [9]:
dfCDI = dfCDI[dfCDI['AGE']>=21]
dfCDI.shape

(4823667, 40)

In [10]:
dfHomeOwn=dfCDI[dfCDI['OWNERSHP']==1]
dfHomeOwn.RENTGRS.describe()

count    2964818.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
Name: RENTGRS, dtype: float64

In [11]:
dfCDI = dfCDI[dfCDI['OWNERSHP']!=0]
dfCDI.shape

(4677699, 40)

In [12]:
dfCDI['affrentdec'] = dfCDI['RENTGRS']*12/dfCDI['HHINCOME']

In [13]:
def housingFunc(own, affrentdec):
    if own==1:
        housingCat=2
    elif own==2 and affrentdec<.3:
        housingCat=1
    else:
        housingCat=0
    return housingCat

In [ ]:
dfCDI['HousingCat'] = dfCDI.apply(lambda x: housingFunc(x['OWNERSHP'], x['affrentdec']), axis=1)
dfCDI['HousingCat'].value_counts()

In [ ]:
dfCDI['EDUCbin'] = [1 if x >=8 else 0 for x in dfCDI['EDUC']]
dfCDI['EDUCbin'].value_counts()

In [ ]:
dfCDI['TRANTIME'].value_counts()

## Split by year

In [ ]:
dfCDI['YEAR'].value_counts()

In [ ]:
df19=dfCDI[dfCDI['YEAR']==2019]
df10=dfCDI[dfCDI['YEAR']==2010]
df00=dfCDI[dfCDI['YEAR']==2000]
df90=dfCDI[dfCDI['YEAR']==1990]

In [ ]:
print(dfCDI.columns.get_loc("HousingCat"))
print(dfCDI.columns.get_loc("EDUCbin"))
print(dfCDI.columns.get_loc("TRANTIME"))
print(dfCDI.columns.get_loc("HHWT"))
print(dfCDI.columns.get_loc("HHINCOME"))
print(dfCDI.columns.get_loc("RACE"))
print(dfCDI.columns.get_loc("AGE"))
print(dfCDI.columns.get_loc("SEX"))
print(dfCDI.columns.get_loc("COUNTYFIP"))
print(dfCDI.columns.get_loc("HISPAN"))

In [ ]:
x19 = df19.iloc[:, [41,42,39,5,19,26,25,24,9,28]]
x10 = df10.iloc[:, [41,42,39,5,19,26,25,24,9,28]]
x00 = df00.iloc[:, [41,42,39,5,19,26,25,24,9,28]]
x90 = df90.iloc[:, [41,42,39,5,19,26,25,24,9,28]]

## Scaling Values

In [ ]:

scaler = StandardScaler()
scalerNum = scaler.fit(x19)
scalerNum1 = scaler.fit(x10)
scalerNum2 = scaler.fit(x00)
scalerNum3 = scaler.fit(x90)
xstd19 = scalerNum.transform(x19)
xstd10 = scalerNum1.transform(x10)
xstd00 = scalerNum2.transform(x00)
xstd90 = scalerNum3.transform(x90)

In [ ]:
dfX19 = pd.DataFrame(xstd19, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX10 = pd.DataFrame(xstd10, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX00 = pd.DataFrame(xstd00, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX90 = pd.DataFrame(xstd90, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])

## Sillouette Score

In [ ]:
#2019
for i in range(2,8):
    km = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    cluster_labels = km.fit_predict(dfX19.iloc[:,0:3])
    silhouette_avg = silhouette_score(dfX19.iloc[:,0:3], cluster_labels, metric='euclidean',sample_size = 10000, random_state=None)
    print('For n_clusters = {} the average silhouette_score is: {}'.format(i, silhouette_avg))

In [ ]:
#2010 
for i in range(2,8):
    km = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    cluster_labels = km.fit_predict(dfX10.iloc[:,0:3])
    silhouette_avg = silhouette_score(dfX10.iloc[:,0:3], cluster_labels, metric='euclidean', sample_size = 10000, random_state=None)
    print('For n_clusters = {} the average silhouette_score is: {}'.format(i, silhouette_avg))

In [ ]:
#2000 
for i in range(2,8):
    km = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    cluster_labels = km.fit_predict(dfX00.iloc[:,0:3])
    silhouette_avg = silhouette_score(dfX00.iloc[:,0:3], cluster_labels, metric='euclidean',sample_size = 10000, random_state=None)
    print('For n_clusters = {} the average silhouette_score is: {}'.format(i, silhouette_avg))

In [ ]:
#1990 
for i in range(2,8):
    km = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    cluster_labels = km.fit_predict(dfX90.iloc[:,0:3])
    silhouette_avg = silhouette_score(dfX90.iloc[:,0:3], cluster_labels, metric='euclidean',sample_size = 10000, random_state=None)
    print('For n_clusters = {} the average silhouette_score is: {}'.format(i, silhouette_avg))

## Clustering

In [ ]:
kmeans = KMeans(n_clusters = 4, init = 'k-means++', random_state = 42)
kmeans.fit(dfX19.iloc[:,0:3])
X19fin = scaler.inverse_transform(dfX19)
dfX19fin = pd.DataFrame(X19fin, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX19fin['labels'] = kmeans.labels_
cluster_sum19 = dfX19fin.groupby(by = 'labels').mean()
cluster_sum19.head(4)

In [ ]:
kmeans = KMeans(n_clusters = 4, init = 'k-means++', random_state = 42)
kmeans.fit(dfX10.iloc[:,0:3])
X10fin = scaler.inverse_transform(dfX10)
dfX10fin = pd.DataFrame(X10fin, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX10fin['labels'] = kmeans.labels_
cluster_sum10 = dfX10fin.groupby(by = 'labels').mean()
cluster_sum10.head(5)

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
fig=plt.figure(figsize=(26,6))
ax = fig.add_subplot(131,projection='3d')
ax.scatter(dfX10fin.HousingCat,dfX10fin.EDUCbin,dfX10fin.TRANTIME,c=dfX10fin.labels,s=50)

In [ ]:
Xcorr10=dfX10fin.iloc[:, [0,1,2,3,4,5,6,7,8,9]]
plt.subplots(figsize=(15,8))
sns.heatmap(Xcorr10.corr(), annot = True)

In [ ]:
kmeans = KMeans(n_clusters = 4, init = 'k-means++', random_state = 42)
kmeans.fit(dfX00.iloc[:,0:3])
X00fin = scaler.inverse_transform(dfX00)
dfX00fin = pd.DataFrame(X00fin, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX00fin['labels'] = kmeans.labels_
cluster_sum00 = dfX00fin.groupby(by = 'labels').mean()
cluster_sum00.head(5)

In [ ]:
Xcorr00=dfX00fin.iloc[:, [0,1,2,3,4,5,6,7,8,9]]
plt.subplots(figsize=(15,8))
sns.heatmap(Xcorr00.corr(), annot = True)

In [ ]:
kmeans = KMeans(n_clusters = 4, init = 'k-means++', random_state = 42)
kmeans.fit(dfX90.iloc[:,0:3])
X90fin = scaler.inverse_transform(dfX90)
dfX90fin = pd.DataFrame(X90fin, columns=['HousingCat','EDUCbin','TRANTIME','HHWT','HHINCOME','RACE','AGE','SEX','COUNTYFIP','HISPAN'])
dfX90fin['labels'] = kmeans.labels_
cluster_sum90 = dfX90fin.groupby(by = 'labels').mean()
cluster_sum90.head(5)

In [ ]:
Xcorr90=dfX90fin.iloc[:, [0,1,2,3,4,5,6,7,8,9]]
plt.subplots(figsize=(15,8))
sns.heatmap(Xcorr90.corr(), annot = True)

## Geographic Grouping

In [ ]:
dfX10fin.head(5)

In [100]:
clust2019_0 = dfX19fin[dfX19fin['labels']==0]
clust2019_1 = dfX19fin[dfX19fin['labels']==1]
clust2019_2 = dfX19fin[dfX19fin['labels']==2]
clust2019_3 = dfX19fin[dfX19fin['labels']==3]

,HousingCat,EDUCbin,TRANTIME,HHWT,HHINCOME,RACE,AGE,SEX,COUNTYFIP,HISPAN,labels
0,1.0,1.0,1.000000e+01,20.0,56113.0,1.0,41.0,1.0,59.0,1.0,0
2,2.0,1.0,1.776357e-15,15.0,250353.0,1.0,34.0,2.0,81.0,0.0,0
3,2.0,1.0,2.500000e+01,15.0,250353.0,1.0,34.0,1.0,81.0,0.0,0
4,2.0,1.0,1.776357e-15,14.0,117407.0,1.0,55.0,2.0,37.0,0.0,0
5,2.0,1.0,2.100000e+01,14.0,117407.0,1.0,25.0,2.0,37.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
1357988,2.0,1.0,1.776357e-15,72.0,133000.0,1.0,46.0,1.0,97.0,0.0,0
1357990,2.0,1.0,1.776357e-15,12.0,60000.0,9.0,68.0,2.0,37.0,0.0,0
1357996,1.0,1.0,3.000000e+01,13.0,59000.0,6.0,24.0,1.0,85.0,0.0,0
1358002,2.0,1.0,1.000000e+01,14.0,158000.0,8.0,25.0,2.0,107.0,0.0,0
1358003,2.0,1.0,1.000000e+01,14.0,158000.0,1.0,30.0,1.0,107.0,0.0,0

In [77]:
def GEOIDfunc(geoid):
    if len(geoid)==1:
        geoid='0600'+geoid
    elif len(geoid)==2:
        geoid='060'+geoid
    elif len(geoid)==3:
        geoid='06'+geoid
    else:
        pass
    return geoid

In [78]:
COUNTYcsv = 'C:/Users/akaba/Downloads/CA_counties.csv'
counties = pd.read_csv(COUNTYcsv)
countiesdf = pd.DataFrame(counties)
countiesdf['FIPS']= countiesdf['FIPS'].astype(str)
countiesdf['FIPS']='0'+countiesdf['FIPS']

In [117]:
def geo(df,year,cluster):
    df = df[['COUNTYFIP','EDUCbin','HHWT','labels']].groupby(['labels','COUNTYFIP']).agg({'EDUCbin' : ['count'], 'HHWT' : ['sum']}).copy()
    df = (df['HHWT']/df['HHWT'].sum())*df['EDUCbin'].values
    df.columns = ['Weighted_pop']
    df.reset_index(inplace=True)
    df['COUNTYFIP'] = pd.Series(df['COUNTYFIP'], dtype="int")
    df['COUNTYFIP'] = pd.Series(df['COUNTYFIP'], dtype="string")
    df['Weighted_pop'] = pd.Series(df['Weighted_pop'], dtype="int")
    df['GEOID'] = df.apply(lambda x: GEOIDfunc(x['COUNTYFIP']), axis=1)
    df = df.merge(countiesdf,how='inner',left_on='GEOID',right_on='FIPS')
    df = df[['labels','GEOID','COUNTY','Weighted_pop']]
    df.to_csv('C:/Users/akaba/Downloads/'+str(year)+'_'+str(cluster)+'.csv')

In [118]:
geo(dfX10fin,2019,1)

In [120]:
pd.read_csv('C:/Users/akaba/Downloads/2019_1.csv')

     Unnamed: 0  labels  GEOID    COUNTY  Weighted_pop
0             0       0   6001  Alameda            149
1             1       1   6001  Alameda            274
2             2       2   6001  Alameda            133
3             3       3   6001  Alameda             31
4             4       0   6007    Butte              8
..          ...     ...    ...       ...           ...
131         131       3   6111  Ventura              5
132         132       0   6113     Yolo              2
133         133       1   6113     Yolo              4
134         134       2   6113     Yolo              3
135         135       3   6113     Yolo              0

[136 rows x 5 columns]

In [126]:
df10geo = dfX10fin[['COUNTYFIP','EDUCbin','HHWT','labels']].groupby(['labels','COUNTYFIP']).agg({'EDUCbin' : ['count'], 'HHWT' : ['sum']}).copy()

KeyError: "['labels' 'COUNTYFIP'] not in index"

In [127]:
df10geo = (df10geo['HHWT']/df10geo['HHWT'].sum())*df10geo['EDUCbin'].values

In [128]:
df10geo.columns = ['Weighted_pop']

In [129]:
df10geo.reset_index(inplace=True)

In [130]:

df10geo['COUNTYFIP'] = pd.Series(df10geo['COUNTYFIP'], dtype="int")
df10geo['COUNTYFIP'] = pd.Series(df10geo['COUNTYFIP'], dtype="string")
df10geo['Weighted_pop'] = pd.Series(df10geo['Weighted_pop'], dtype="int")

In [131]:
df10geo.dtypes

labels           int64
COUNTYFIP       string
Weighted_pop     int32
dtype: object

In [132]:
def GEOIDfunc(geoid):
    if len(geoid)==1:
        geoid='0600'+geoid
    elif len(geoid)==2:
        geoid='060'+geoid
    elif len(geoid)==3:
        geoid='06'+geoid
    else:
        pass
    return geoid

In [133]:
df10geo['GEOID'] = df10geo.apply(lambda x: GEOIDfunc(x['COUNTYFIP']), axis=1)

In [134]:
COUNTYcsv = 'C:/Users/akaba/Downloads/CA_counties.csv'
counties = pd.read_csv(COUNTYcsv)
countiesdf = pd.DataFrame(counties)
countiesdf['FIPS']= countiesdf['FIPS'].astype(str)
countiesdf['FIPS']='0'+countiesdf['FIPS']

In [135]:
df10geomerged = df10geo.merge(countiesdf,how='inner',left_on='GEOID',right_on='FIPS')
df10geomerged = df10geomerged[['GEOID','labels','COUNTY','Weighted_pop']]
df10geomerged

     GEOID  labels    COUNTY  Weighted_pop
0    06001       0  Alameda            149
1    06001       1  Alameda            274
2    06001       2  Alameda            133
3    06001       3  Alameda             31
4    06007       0    Butte              8
..     ...     ...       ...           ...
131  06111       3  Ventura              5
132  06113       0     Yolo              2
133  06113       1     Yolo              4
134  06113       2     Yolo              3
135  06113       3     Yolo              0

[136 rows x 4 columns]

In [150]:
df10geomerged.to_csv('C:/Users/akaba/Downloads/df10geo.csv')